h4 {
  padding-left: 10%;
}
body {
  background-image: url("walpaper2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

table {
  font-size: 130%;
}

h2 {
  text-align: center;
}

ol {
  font-size: 110%;
  margin-left: 45%;
  margin-right: 45%;
}
