h4 {
  padding-left: 10%;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("ya.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: rgb(245, 244, 244);
}

table {
  font-size: 130%;
}

h2 {
  text-align: center;
}

ol {
  font-size: 120%;
  margin-left: 45%;
  margin-right: 45%;
}

img {
  border-radius: 50%;
}
